{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DSC | OD Form</title>

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="theme-color" content="#18e0cc" />
    <link rel="icon" href="{% static 'favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'apple-touch-icon' %}">
    <style>
        #btnfinal {
            background-color: #26a69a;
            color: whitesmoke;
        }

        #btnfinal:hover {
            background-color: #13413c;
            color: white;
        }
    </style>
</head>

<body>
    <img src="{% static 'dsc-logo.svg' %}" alt="" class="mt-3" width="160px" height="50px;"
        style="position: absolute; left: 20px;top:10px;">
    <div class="container" style="margin-top: 24vh;">
        <h1 class="text-center" style="color: #26a69a;"><strong class="text-center">Details</strong></h1>
        <br>
        <table class="row justify-content-center">
            <tr>
                <td>
                    <h5><strong style="color: #26a69a;">Name: </strong>{{name}}</h5>
                </td>
            </tr>
            <tr>
                <td>
                    <h5><strong style="color: #26a69a;">Registration Number:
                        </strong>{{regis}}</h5>
                </td>
            </tr>
            <tr>
                <td>
                    <h5><strong style="color: #26a69a;">Email: </strong>{{email}}</h5>
                </td>
            </tr>
            <tr>
                <td>
                    <h5><strong style="color: #26a69a;">Phone: </strong>{{phone}}</h5>
                </td>
            </tr>
            <tr>
                <td>
                    <h5><strong style="color: #26a69a;">Block: </strong>{{block}}</h5>
                </td>
            </tr>
            <tr>
                <td>
                    <h5><strong style="color: #26a69a;">Agreement: </strong>{{agree}}
                    </h5>
                </td>
            </tr>

        </table>

        <form method="POST" class="mt-4">
            {% csrf_token %}
            <div class="row justify-content-center">
                <button class="btn" type="submit" id="btnfinal" align="center">Logout</button>
                <br>

            </div>
        </form>

        <br>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>